@import "fonts.css";


/* ----- normalize and globals ----- */
* {
  padding: 0;
  margin: 0;
}

ul, li {
  text-decoration: none;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  font: 14px Galaxie;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 50px 24px;
  font: 44px HUGEAvantGardeBold;
  letter-spacing: -0.06em;
}

.clickable {
  cursor: pointer;
}

/* ----- mobile ----- */
.desktop {
  display: none;
}

#slideInMenu {
  background: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: -100%;
  transition: left .5s;
  display: block;
}

#slideInMenu * {
}

#slideInMenu.open {
  left: 0;
  width: calc(100% - 74px);
}

.logo {
  width: 50px;
  margin: 20px 24px;
}

#menuToggle {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0 0 0 24px;
  background: url('../images/toggle-close.svg');
  background-repeat: no-repeat;
  background-position: 0;
}

#menuToggle.open {
  background: url('../images/toggle-open.svg');
  background-repeat: no-repeat;
  background-position: 0;
}

#navigation-bar {
  height: 60px;
  background: #ec008c;
  position: fixed;
  top: 0;
  width: 100%;
  transition: left .5s;
}

#slideInMenu.open#navigation-bar {
  left: -100%;
}

#menuLinks {
  position: fixed;
  top: 60px;
  margin-top: 12px;
  width: calc(100% - 74px);
  height: 100%;
  overflow-y: scroll;
}

#menuLinks > ul {
  height: 100%;
}

#menuLinks > ul > li.primary-item:hover:not(.open) {
  background-color: #eee;
}

#copyright {
  font: 12px Helvetica;
  bottom: 0;
  position: fixed;
  padding: 24px;
  width: 100%;
  background-color: white;
}

.secondary-links {
  height: 0;
  overflow-y: hidden;
  transition-property: max-height;
  transition-duration: 0.5s;
  margin-left: -24px;
}

.primary-item {
  font: 21px HUGEAvantGardeBold;
  padding: 24px;
}
.primary-item.has-secondary {
  background: url(../images/down-chevron.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px);
  background-size: 24px;
}

.primary-item.has-secondary.open {
  background: url(../images/up-chevron.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 24px) 24px;
  background-size: 24px;
}

.primary-item.open > .secondary-links {
  height: 100%;
  transition-property: max-height;
  transition-duration: 0.5s;
  margin-top: 12px;
  margin-bottom: -24px;
}

.secondary-item {
  font: 16px Galaxie;
  line-height: 48px;
  padding-left: 24px;
}

.secondary-item:hover {
  background: #eee; 
  color: #ec008c;
}

#mainBody {
  top: 60px;
  width: 100%;
  position: absolute;
  left: calc(100% - 74px);
  transition: left .5s;
}
#mainBody.open {
  width: 100%;
  position: relative;
  left: 0;
}
.hero-container {
  background: url('../images/background-image.jpg');
  width: 100%;
  height: 100%;
  min-height: 240px;
}

.content {
  padding: 0 24px;
}

#mask {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
}

#mask.hidden {
  display: none;
}

#navLinks {
  display: none;
}

/* ----- desktop ----- */
@media (min-width: 767px) {
  .desktop {
    display: block;
  }
  #slideInMenu {
    display: block;
  }
  #navigation-bar {
    height: 74px;
    width: 100%;
    display: inline-block
  }
  .logo {
    width: 60px;
    margin: 24px;
    display: inline-block;
  }
  #navLinks {
    display: block;
    width: 100%;
    position: fixed;
    display: inline-block;
  }
  #navLinks > ul {
    display: inline-block;
  }

  #navLinks .primary-item {
    display: inline-block;
    background: none;
    color: white;
    font-size: 14px;
    line-height: 26px;
  }

  #navLinks .secondary-links {
    display: none;
  }

  #navLinks .secondary-item {
    width: 100%;
  }

  #navLinks .secondary-item:first-child {
    padding-top: 12px;
  }

  #navLinks .secondary-item:last-child {
    padding-bottom: 12px;
  }

  #navLinks .primary-item:hover, #navLinks .primary-item.open.has-secondary {
    background: white;
    color: #ec008c;
  }
/*
  #navLinks .primary-item.open {
    background: none;
    color: white;
  }*/

  #navLinks .primary-item.open .secondary-links {
    background: white;
    display: block;
    position: absolute;
    top: 74px;
    margin-top: 0;
    overflow: visible;
  }

  #navLinks .secondary-item {
    background: white;
    color: black;
  }

  #navLinks .secondary-item:hover {
    background: #eee; 
    color: #ec008c;
  }

  .hero-container {
    min-height: 640px;
  }
  #menuToggle {
    display: none;
  }
}

/* adjusting for navigation bar */
@media (min-width: 920px) {
  #navLinks .primary-item {
    font-size: 21px;
  }
}